body {
  background: black;
}
.users {
  float: left;
  width: 80%;
}
.navbar {
  position: fixed;
  width: 100%;
  height: 100px;
  background: fuchsia;
  z-index: 100;
}
.sidebar {
  position: fixed;
  top: 100px;
  width: 200px;
  height: 100%;
  margin: auto;
  background: burlywood; 
  float: left;  
}
.jumbotron {
  display: inline-flex;
  position: relative;
  top: 100px;
  left: 205px;
  float: left;
  background: black;
  height: 800px;
  max-width: 1200px;
  color: white;
}
h1 {
  text-align: center;
}
.model_show {
  position: relative;
  color: black;
  background: white;
  height: 400px;
  width: 500px;
  margin: auto;
}
#outer_id {
  z-index: 101;
  opacity: .5;
  background: pink;

}
.model_hide {
  position: relative;
  opacity: 0;
  top: -1000px;
}
.inputs {
  position: relative;
  float: left;
}
.cards {
  position: relative;
  margin: auto;
  width: 400px;
}
.card_details {
  display: inline-block;
  background: darkgoldenrod;
  width: 300px;
  height: 200px;
  margin: 5px;
  clear: both;
}
.welcome {
  text-align: center;
}
